* {
	font-family: Helvetica Neue, Segoe UI, sans-serif;
}

button, input {
	margin: 3px;
}

ul {
	list-style: none;
	padding: 0;
}

input[type="text"] {
	width: 300px;
}

:checked + input[type="text"] {
	color: gray;
	font-style: italic;
	text-decoration: line-through;
}

.logged-in{
	display: auto;
}

.logged-in button.login{
	display: none;
}

.logged-out button.logout{
	display: none;
}

.logged-out div.backend-controls{
	display: none;
}

.logged-out div.user-info{
	display: none;
}

.login, .logout{
	position: relative;
	/* top: -19.5rem; */
}
